%h4 Current Drugs
- if current_drugs.any?
  .current_drug
    %p
      Currently (#{Date.today}) taking these drugs (as known to this system)
    %p
      - current_drugs.each do |drg|
        = drg
        %br