- patient = problem_list
%h4 Problem list
#problem_table
  %table
    - patient.problems.each do |problem|
      %tr{:valign => "top"}
        %td= problem.date.strftime('%d-%b-%y')
        %td
          = problem.description
          = '(resolved)' if problem.resolved == 1
