Hichart
<div id="container" style="width: 50%; height: 400px"></div>

<script>
var chart1; // globally available
$(document).ready(function() {
      chart1 = new Highcharts.Chart({
         chart: {
            renderTo: 'container',
            type: 'line'
         },
         title: {
            text: 'Growth Chart'
         },
         xAxis: {
             title: {text: 'Age (years)'},
             max: 3
         },
          yAxis: [{
              title: {
                  text: 'Height'
              },
              min: 0
          },
            {
              title: {
                  text: 'Weight'
              },
              opposite: true
            }
                  ],
         series: [
             {
                 name: 'Height',
                 data: [[0, 50], [0.5, 60], [1, 65], [2, 70], [3, 75]]
             },
             {
                 name: 'Ht 50%ile',
                 dashStyle: 'shortdash',
                 data: [ [0,50], [0.25,61], [0.5,68], [0.75, 72.5], [1, 76.2], [1.5,82.5], [3, 97.5],
                     [4,103], [6,116], [10,137.5], [12,149.5], [15,168], [18,176.5], [100,176.5] ]
             },
             {
            name: 'Weight',
            yAxis: 1,
            data: [[0, 3.1], [0.25, 6], [0.5, 8], [1, 10], [2, 12], [3, 14]]
         }]
      });
   });
</script>