@import "bootstrap";

.drug_select {
  display: inline;
  font-size: 90%
}

.lab_group {
  font-weight: bold
}

.footer_buttons {
  margin-top: 1.5em
}

// Bootstrap (?) overrides
input, textarea, .uneditable-input {
  width: 136px;
}

.form-horizontal .control-label {
  float: left;
  padding-top: 5px;
  text-align: right;
  width: 150px;
}

.form-horizontal .controls {
  margin-left: 160px;
}

select {
  background-color: white;
  border: 1px solid #CCCCCC;
  width: 140px;
}
select[multiple], select[size] {
  height: auto;
}

.checkbox-table {
  margins: 1em 0 1em
}